# Dependencias de Node
/node_modules
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
/logs

# Base de datos local
*.sqlite
*.db

# Directorios de Astro/Vite
.astro/
.cache/
/public/build
/.vercel
/.netlify
.env
.env.local

# Build/Dist output
/.output
/out